@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");
* {
  font-family: "Google Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../zdjęcia/Login_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  flex-direction: column;
}

.page-content {
  background-color: white;
  margin: 15px;
  padding: 30px;
  border-radius: 20px;
  min-height: calc(100vh - 47px - 48px - 30px);
  display: flex;
  flex-direction: column;
}

.page-content .page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.page-content .page-header .page-header-title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

.page-content .page-header .buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.page-content .page-header .buttons .logBtn {
  padding: 0 15px 0 15px;
  height: 45px;
  background-color: #0066cc;
  color: white;
  border: none;
  outline: none;
  border-radius: 40px;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.page-content .page-header .buttons .btn {
  display: flex;
  justify-content: center;
}

.page-content .page-header .buttons .logBtn:hover {
  transition: 0.2s;
  background-color: #b9b9b9;
  color: black;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.2);
}

.page-content .filter-bar {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.page-content .filter-bar input, .page-content .filter-bar select {
  background-color: #d4d4d4;
  border: 1px solid #888;
  border-radius: 8px;
  padding: 8px 14px;
  font-size: 13px;
  outline: none;
}

.page-content .employee-table {
  background-color: #d4d4d4;
  border: 1px solid #888;
  border-radius: 14px;
  overflow: hidden;
}

.page-content .employee-table .data-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}

.page-content .employee-table .data-table thead {
  background-color: #b9b9b9;
}

.page-content .employee-table .data-table tr:last-child td {
  border-bottom: 0;
}

.page-content .employee-table .data-table th {
  text-align: left;
  padding: 10px 15px;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 600;
  border-bottom: 1px solid black;
}

.page-content .employee-table .data-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #888;
}

.page-content .employee-table .data-table .cell-id {
  font-family: monospace;
}

.page-content .employee-table .data-table .cell-name, .page-content .employee-table .data-table .cell-money {
  font-weight: 600;
}

.page-content .employee-table .data-table .cell-dept p, .page-content .employee-table .data-table .badge-status {
  display: inline-block;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .3px;
}

.page-content .employee-table .data-table .dist {
  background-color: #fd7e14;
  color: black;
}

.page-content .employee-table .data-table .admin {
  background-color: #6f42c1;
  color: white;
}

.page-content .employee-table .data-table .inf {
  background-color: #343a40;
  color: white;
}

.page-content .employee-table .data-table .serv {
  background-color: #0096a6;
  color: white;
}

.page-content .employee-table .data-table .act {
  background-color: #28a745;
  color: white;
}

.page-content .employee-table .data-table .not-act {
  background-color: #dc3545;
  color: white;
}

.page-content .employee-table .data-table .holiday {
  background-color: #fd7e14;
  color: black;
}

.page-content .employee-table .data-table .tab-buttons {
  display: flex;
  gap: 5px;
}

.page-content .employee-table .data-table .tab-buttons .tab-btn {
  padding: 5px 12px;
  font-size: 13px;
  background-color: #0066cc;
  color: white;
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 7px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #888;
  transition: 0.3s;
}

.page-content .employee-table .data-table .tab-buttons .tab-btn:hover {
  background-color: white;
  color: black;
}

.page-content .employee-table .data-table .tab-buttons .edt {
  background-color: #b9b9b9;
  border: 1px solid #888;
  color: black;
}

.page-content .employee-table .data-table .tab-buttons .edt:hover {
  background-color: white;
}
