@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");
* {
  font-family: "Google Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../zdjęcia/Login_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  flex-direction: column;
}

.page-content {
  background-color: white;
  margin: 15px;
  padding: 30px;
  border-radius: 20px;
  min-height: calc(100vh - 47px - 48px - 30px);
  display: flex;
  flex-direction: column;
}

@media (max-width: 500px) {
  .page-content {
    margin: 0;
    border-radius: 0;
  }
}

.page-content .page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

@media (max-width: 500px) {
  .page-content .page-header {
    flex-direction: column;
    gap: 12px;
  }
}

.page-content .page-header .page-header-title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

.page-content .page-header .btn {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.page-content .page-header .btn .logBtn {
  padding: 0 15px 0 15px;
  height: 45px;
  background-color: #0066cc;
  color: white;
  border: none;
  outline: none;
  border-radius: 40px;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.page-content .page-header .btn .btn {
  display: flex;
  justify-content: center;
}

.page-content .page-header .btn .logBtn:hover {
  transition: 0.2s;
  background-color: #b9b9b9;
  color: black;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.2);
}

.page-content .page-main {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.page-content .page-main .id-container {
  background-color: #d4d4d4;
  border: 1px solid #888;
  border-radius: 12px;
  overflow: hidden;
}

.page-content .page-main .id-container .id-title {
  padding: 12px;
  background-color: #b9b9b9;
  border-bottom: 1px solid #888;
}

.page-content .page-main .id-container .id-grid {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}

@media (max-width: 700px) {
  .page-content .page-main .id-container .id-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.page-content .page-main .id-container .id-grid .grid {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 50px;
}

@media (max-width: 700px) {
  .page-content .page-main .id-container .id-grid .grid {
    justify-content: center;
  }
}

.page-content .page-main .id-container .id-grid .grid .label {
  font-size: 16px;
  font-weight: 600;
}

.page-content .page-main .id-container .id-footer {
  background-color: #b9b9b9;
  border-top: 1px solid #888;
  padding: 12px 20px;
  display: flex;
  justify-content: right;
  font-size: 14px;
  color: #0066cc;
  cursor: pointer;
}

.page-content .page-main .career-history-container {
  background-color: #d4d4d4;
  border: 1px solid #888;
  border-radius: 12px;
  overflow: hidden;
}

.page-content .page-main .career-history-container .career-history-title {
  padding: 12px;
  background-color: #b9b9b9;
  border-bottom: 1px solid #888;
}

.page-content .page-main .career-history-container .career-history-data {
  display: flex;
  flex-direction: column;
}

.page-content .page-main .career-history-container .career-history-data .stage-card {
  padding: 12px;
}
